<%=stylesheet_link_tag 'home'%>
<script src="https://raw.github.com/mrdoob/three.js/master/build/three.js"></script>
    
<script id="vs" type="x-shader/x-vertex">
  varying vec2 vUv;
  void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>
<script id="fs" type="x-shader/x-fragment">
  uniform sampler2D map;
  uniform vec3 fogColor;
  uniform float fogNear;
  uniform float fogFar;
  varying vec2 vUv;
  void main() {
    float depth = gl_FragCoord.z / gl_FragCoord.w;
    float fogFactor = smoothstep( fogNear, fogFar, depth );

    gl_FragColor = texture2D( map, vUv );
    gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
    gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );
  }
</script>
<%=javascript_include_tag "cloud"%>
<div id="container">

  <div id="nav">
    <div class="content">
      <span id="l_icon">
        <i class="icon-list"></i>
      </span>
    </div>

  </div>

  <div class="left left_close">

    <span class="add_icon">
      <i class="icon-plus"></i>
    </span>
    <div id="left-toolBar">
      <div id="search-wrap">
        <i class="icon-search"></i>
        <input id="search" type="" />
      </div>
      <div id="filter">
        <i class="icon-filter"></i>
        filter
        <i class="icon-angle-right"></i>
      </div>
    </div>
    <ul id="dreamList">
      <li class="dream">
      <div class="dreamDate">
        <div class="dreamDate-content">
          <span class="month_year">Mar 2012</span> 
          <span class="date">28</span> 
        </div>
      </div>
      <div class="profileImg-wrap">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/260898_502288678_1624193401_q.jpg" alt="" class="profileImg img-circle" /> 
      </div>
      <div class="dreamInfo">
        <div class="dreamTitle">bill's first</div>
        <div class="dreamVote">
          <i class="icon-heart"></i>
          12
        </div>
      </div>
      <div class="dreamArrow">
        <i class="icon-angle-right"></i>
      </div>
      </li>

    </ul>
  </div>
  <div class="right right_expand">
    <div class="popup">
      <ul>
        <li class="popup-option">
        Show All
        <i class="icon-time"></i>
        </li>
        <li class="popup-option">
        My DreamLog 
        <i class="icon-user">`</i>
        </li>
        <li class="popup-option">
        Popular
        <i class="icon-heart"></i>
        </li>
      </ul>
      <span class="arrow"></span>
    </div>
    <div id="dreamLog" class="" >
      <div id="dreamLog-header">
      </div>
      <span class="dreamLog_closeButton">
        <i class="icon-remove"></i>
      </span>
      <div id="dreamLog-tabs">
        <input type="radio" class="switch-input" name="view" value="read" id="read" checked>
        <label for="read" class="switch-label switch-label-off">
          <i class="icon-coffee"></i>
          Read</label>
        <input type="radio" class="switch-input" name="view" value="comments" id="comments">
        <label for="comments" class="switch-label switch-label-on">
         <i class="icon-quote-left"></i> 
         Comments
         <i class="icon-quote-right"></i>
       </label>
        <span class="switch-selection"></span>
      </div>
      <div class="dream_content showRead">
        <div class="dreamLog-title">
          a big green monster under the bed!
        </div>    
        <p class="dreamLog-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non ipsum eget lorem tincidunt pretium sit amet nec turpis. Aliquam felis ipsum, rhoncus vitae accumsan ac, accumsan vitae leo. Fusce luctus mi at dolor faucibus aliquet. Cras id lorem quis lacus placerat cursus. Nunc at metus eu velit vestibulum mattis. Fusce malesuada mattis iaculis. Pellentesque hendrerit mollis nibh vel congue. Nullam tincidunt adipiscing molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ultrices, risus ut congue rhoncus, massa turpis gravida lacus, eu malesuada dolor dolor et erat. Nulla id tellus libero, sed lacinia risus. Morbi eu erat odio. Fusce volutpat condimentum fringilla. Nullam iaculis dolor mi.

        Proin eget felis quam, non blandit nulla. Vivamus et sapien ut dui malesuada facilisis. Mauris ut egestas felis. Quisque a velit nec ligula ultrices pulvinar. In scelerisque, dui quis adipiscing faucibus, tortor eros facilisis dolor, ac interdum turpis nunc in magna. Aenean sed metus purus. Morbi in vulputate lacus. Cras porttitor egestas elit sit amet tempus. Cras ut pulvinar sapien. Donec sodales hendrerit urna.

        Vestibulum ac nulla quis felis mollis accumsan quis sit amet tellus. Praesent imperdiet dui a leo varius venenatis. Fusce ultricies euismod gravida. Fusce neque massa, pharetra id dignissim ut, aliquam non odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum et velit sem. Phasellus condimentum gravida est, nec dictum felis consequat sit amet. Maecenas posuere est at magna tincidunt tristique. Nam consequat luctus ultricies. Nulla facilisi. Fusce mattis imperdiet dui, sed mattis odio vehicula sit amet. Morbi adipiscing nunc sit amet neque ultricies consequat. Donec semper lacus elit, id auctor orci. Mauris venenatis posuere libero, non accumsan leo luctus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam sit amet ultricies ante.

        Proin et dui magna. Vivamus dapibus, ligula ut imperdiet fermentum, erat velit suscipit lorem, eu iaculis nunc turpis nec diam. Nunc tincidunt mauris quis mi commodo sit amet vulputate turpis tristique. Nullam elementum orci eu leo ultricies et tristique odio auctor. Nullam eget libero elementum ligula malesuada feugiat eget at ipsum. Suspendisse sit amet tempor turpis. Vestibulum non felis neque. Nunc sapien nulla, iaculis in aliquet non, convallis eu sapien. Mauris convallis pretium nunc, sed bibendum ante semper id.

        In gravida elit ut velit dignissim ultricies. Donec egestas, est a rutrum pretium, velit erat rutrum lacus, nec malesuada nulla quam eget neque. Proin semper tincidunt est quis molestie. Cras sit amet posuere odio. Pellentesque vel purus in ante viverra molestie eu et tortor. Etiam quis magna vel eros imperdiet ullamcorper quis a dui. Proin augue quam, egestas id fermentum ut, sollicitudin ut sem. Vivamus nec congue orci. Donec feugiat est non sapien pharetra pharetra non in ante. Suspendisse at condimentum mi. Morbi euismod, eros nec imperdiet adipiscing, purus mauris scelerisque sem, ultrices aliquam quam felis auctor nisl. Nam ultricies sem ac felis adipiscing tincidunt. Pellentesque ullamcorper tincidunt ultrices. Aenean adipiscing laoreet enim, at tincidunt urna porttitor id. Fusce at arcu ipsum.
        </p>
      </div>
      <div class="comment-wrap">
        <div class="dreamLog-comments">

        </div>
      </div>
    </div>
  </div>
</div>


<%=javascript_include_tag 'home'%>

<script type="text/javascript">
  $('body').addClass('b-img')
</script>
