<%=stylesheet_link_tag 'home'%>
<%=stylesheet_link_tag 'newDreamLog'%>
<script src="https://raw.github.com/mrdoob/three.js/master/build/three.js"></script>
    
<script id="vs" type="x-shader/x-vertex">
  varying vec2 vUv;
  void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>
<script id="fs" type="x-shader/x-fragment">
  uniform sampler2D map;
  uniform vec3 fogColor;
  uniform float fogNear;
  uniform float fogFar;
  varying vec2 vUv;
  void main() {
    float depth = gl_FragCoord.z / gl_FragCoord.w;
    float fogFactor = smoothstep( fogNear, fogFar, depth );

    gl_FragColor = texture2D( map, vUv );
    gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
    gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );
  }
</script>



<script id="comment-template" type="text/x-handlebars-template">
  <div class="comment-content">
    <div class="user-icon-wrap">
      <img src="{{user_icon}}" alt="" class="user_icon img-circle" />
    </div>
    <div class="comment-body">
      <p class="user-name">{{user_name}}</p>       
      <p class="body">{{body}}</p>
      <div class="comment-info">
        <span class="comment-time timeago" title='{{created_at}}'>5 minutes ago</span>
        <span class="comment-flag">
          <i class="icon-flag"></i> report
        </span>

        <span class="allCommentLink">
          Reply 
          <i class="icon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="reply-list ">
      <ul></ul>
      <div class="cuser-wrap">
        <img src="{{cuser_icon}}" alt="" class="img-rounded"/>
      </div>
      <textarea id="" name="" rows="10" class="addReply" cols="30"></textarea>
    </div>
    <div class="clear"></div> 
  </div>
  <div class="clear"></div>
</script>



<script id="reply-template" type="text/x-handlebars-template">
  <div class="user-icon-wrap">
    <img src="{{user_icon}}" alt="" class="user_icon img-circle" />
  </div>
  <div class="reply-body">
    <p class="user-name">{{user_name}}</p>       
    <p class="body">{{body}}</p>
    <div class="comment-info">
      <span class="timeago comment-time" title="{{created_at}}">5 minutes ago</span>
      <span class="comment-flag">
        <i class="icon-flag"></i> report
      </span>
    </div>
  </div>
  <div class="clear"></div>
</script>




<script id="dreamLog-template" type="text/x-handlebars-template">
  <div id="dreamLog-header">
  </div>
  <span class="dreamLog_closeButton">
    <i class="icon-remove"></i>
  </span>
  <div id="dreamLog-tabs">
    <input type="radio" class="switch-input" name="view" value="read" id="read" checked>
    <label for="read" class="switch-label switch-label-off">
      <i class="icon-coffee"></i>
      Read</label>
    <input type="radio" class="switch-input" name="view" value="comments" id="comments">
    <label for="comments" class="switch-label switch-label-on">
      <i class="icon-quote-left"></i> 
      Interpretation
      <i class="icon-quote-right"></i>
    </label>
    <span class="switch-selection"></span>
  </div>
  <div class="dream_content showRead">
    <div id="vote">
      <i class="icon-heart"></i> 
      <span id="voteCount">12</span>
    </div>
    <div class="dreamLog-title">{{title}}</div>    
    <p class="dreamLog-body">{{body}}</p>
  </div>
  <div class="comment-wrap">
    <div class="addComment-wrap">
      <div class="cuser-wrap">
        <img src="{{cuser_icon}}" alt="" class="img-rounded" />
      </div> 
      <textarea id="addComment" name="" placeholder="write a comment, and Press Enter after..." rows="10" cols="30"></textarea>
    </div>
    <div class="dreamLog-comments">
      <ul id="comments-list">
      </ul>
    </div>
  </div>
</script>





<script id="dream-template" type="text/x-handlebars-template">
  <div class="dreamDate">
    <div class="dreamDate-content">
      <span class="month_year">{{month}} {{year}}</span> 
      <span class="date">{{date}}</span> 
    </div>
  </div>
  <div class="profileImg-wrap">
    <span class="delete_icon hide">
      <i class="icon-minus-sign"></i>
    </span>
    <img src="{{user_icon}}" alt="" class="profileImg img-circle" /> 
  </div>
  <div class="dreamInfo">
    <div class="dreamTitle">{{title}}</div>
    <div class="dreamVote">
      <i class="icon-heart"></i>
      {{vote_counts}} 
    </div>
  </div>
  <div class="dreamArrow">
    <i class="icon-angle-right"></i>
  </div>
</script>

<script id="newDream-template" type="text/x-handlebars-template">
  <span class="newDreamLog_closeButton">
    <i class="icon-remove"></i>
  </span>
  <form id="newDreamLog-form" action="">
    <input id="title" type="text" placeholder="Dream Log Title" />
    <textarea id="body" name="" rows="10" cols="30" placeholder="Last night, I had a dream ..."></textarea>
    <span id="submit">
      <i class="icon-ok"></i>
      <div id="submit-effect" class="bounceOut"></div>
    </span>
  </form>
</script>



<%=javascript_include_tag "cloud"%>
<div id="container">
  <div id="nav">
    <div class="content">
      <span id="l_icon">
        <i class="icon-list"></i>
      </span>
    </div>
  </div>
  <div class="left left_close">
    <span class="edit_icon">
      <i class="icon-edit"></i>
    </span>
    <span class="exit_edit hide">
      <i class="icon-ok"></i>
    </span>
    <div id="left-toolBar">
      <div id="search-wrap">
        <i class="icon-search"></i>
        <input id="search" type="" />
      </div>
      <div id="filter" >
        <i class="icon-filter"></i>
        filter
        <i class="icon-angle-right"></i>
      </div>
    </div>

    <div class="add_icon hide">
      <p>
        <i class="icon-plus"></i>
        add new dream
      </p>
    </div>
    <ul id="dreamList">

    </ul>
  </div>
  <div class="right right_expand">

    <div id="logo_top">
      <img src="/img/logo_top.png" alt="" />
    </div>
    <div class="popup">
      <ul>
        <li id="noFilter" class="popup-option">
        Everyone's 
        <i class="icon-time"></i>
        </li>
        <li id="userFilter" class="popup-option">
        My DreamLog 
        <i class="icon-user">`</i>
        </li>
        <li id="rateFilter" class="popup-option">
        Popular
        <i class="icon-heart"></i>
        </li>
      </ul>
      <span class="arrow"></span>
    </div>
    <div id="dreamLog" class="dreamLog_closed" ></div>
    <div id="newDreamLog-wrap" class='dreamLog_closed'></div>
  </div>
</div>

<script type="text/javascript">
 new App.HomePage()
</script>

