<%=stylesheet_link_tag 'home'%>
<%=stylesheet_link_tag 'newDreamLog'%>
<script src="https://raw.github.com/mrdoob/three.js/master/build/three.js"></script>
    
<script id="vs" type="x-shader/x-vertex">
  varying vec2 vUv;
  void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>
<script id="fs" type="x-shader/x-fragment">
  uniform sampler2D map;
  uniform vec3 fogColor;
  uniform float fogNear;
  uniform float fogFar;
  varying vec2 vUv;
  void main() {
    float depth = gl_FragCoord.z / gl_FragCoord.w;
    float fogFactor = smoothstep( fogNear, fogFar, depth );

    gl_FragColor = texture2D( map, vUv );
    gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
    gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );
  }
</script>

<script id="comment-template" type="text/x-handlebars-template">
  
  <div class="comment-content">
    <div class="user-icon-wrap">
      <img src="{{user_icon}}" alt="" class="user_icon img-circle" />
    </div>
    <div class="comment-body">
      <p class="user-name">{{user_name}}</p>       
      <p class="body">{{body}}</p>
      <div class="comment-info">
        <span class="comment-time">5 minutes ago</span>
        <span class="comment-flag">
          <i class="icon-flag"></i> report
        </span>
        <span class="allCommentLink">
          See All Comments
          <i class="icon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="clear"></div> 
  </div>

  <div class="reply-list reply-list-closed">
    <div class="reply">
      <div class="user-icon-wrap">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/260898_502288678_1624193401_q.jpg" alt="" class="user_icon img-circle" />
      </div>
      <div class="reply-body">
        <p class="user-name">Bill Ma</p>       
        <p class="body">nice job buddy!</p>
        <div class="comment-info">
          <span class="comment-time">5 minutes ago</span>
          <span class="comment-flag">
            <i class="icon-flag"></i> report
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</script>
<script id="dreamLog-template" type="text/x-handlebars-template">
  <div id="dreamLog-header">
  </div>
  <span class="dreamLog_closeButton">
    <i class="icon-remove"></i>
  </span>
  <div id="dreamLog-tabs">
    <input type="radio" class="switch-input" name="view" value="read" id="read" checked>
    <label for="read" class="switch-label switch-label-off">
      <i class="icon-coffee"></i>
      Read</label>
    <input type="radio" class="switch-input" name="view" value="comments" id="comments">
    <label for="comments" class="switch-label switch-label-on">
      <i class="icon-quote-left"></i> 
      Comments
      <i class="icon-quote-right"></i>
    </label>
    <span class="switch-selection"></span>
  </div>
  <div class="dream_content showRead">
    <div class="dreamLog-title">{{title}}</div>    
    <p class="dreamLog-body">{{body}}</p>
  </div>
  <div class="comment-wrap">
    <div class="dreamLog-comments">
      <ul id="comments-list">
      </ul>
    </div>
  </div>
</script>


<script id="dream-template" type="text/x-handlebars-template">
  <div class="dreamDate">
    <div class="dreamDate-content">
      <span class="month_year">Mar 2012</span> 
      <span class="date">28</span> 
    </div>
  </div>
  <div class="profileImg-wrap">
    <img src="{{user_icon}}" alt="" class="profileImg img-circle" /> 
  </div>
  <div class="dreamInfo">
    <div class="dreamTitle">{{title}}</div>
    <div class="dreamVote">
      <i class="icon-heart"></i>
      12
    </div>
  </div>
  <div class="dreamArrow">
    <i class="icon-angle-right"></i>
  </div>
</script>

<script id="newDream-template" type="text/x-handlebars-template">
  <span class="newDreamLog_closeButton">
    <i class="icon-remove"></i>
  </span>
  <form id="newDreamLog-form" action="">
    <input id="title" type="text" placeholder="Dream Log Title" />
    <textarea id="body" name="" rows="10" cols="30" placeholder="Last night, I had a dream ..."></textarea>
    <span id="submit">
      <i class="icon-ok"></i>
      <div id="submit-effect" class="bounceOut"></div>
    </span>
  </form>
</script>
<%=javascript_include_tag "cloud"%>
<div id="container">

  <div id="nav">
    <div class="content">
      <span id="l_icon">
        <i class="icon-list"></i>
      </span>
    </div>

  </div>

  <div class="left left_close">
    <span class="add_icon">
      <i class="icon-plus"></i>
    </span>
    <div id="left-toolBar">
      <div id="search-wrap">
        <i class="icon-search"></i>
        <input id="search" type="" />
      </div>
      <div id="filter">
        <i class="icon-filter"></i>
        filter
        <i class="icon-angle-right"></i>
      </div>
    </div>
    <ul id="dreamList">

    </ul>
  </div>
  <div class="right right_expand">
    <div class="popup">
      <ul>
        <li class="popup-option">
        Everyone's 
        <i class="icon-time"></i>
        </li>
        <li class="popup-option">
        My DreamLog 
        <i class="icon-user">`</i>
        </li>
        <li class="popup-option">
        Popular
        <i class="icon-heart"></i>
        </li>
      </ul>
      <span class="arrow"></span>
    </div>
    <div id="dreamLog" class="dreamLog_closed" ></div>
    <div id="newDreamLog-wrap" class=''></div>
  </div>
</div>


<%=javascript_include_tag 'home'%>

<script type="text/javascript">
  $('body').addClass('b-img')
</script>

