
<%=stylesheet_link_tag 'login'%>

<div id="login">
  <div class="container">
    <div id="logo"></div>
    <a id="loginButton" href="/auth/facebook">
      <i class="icon-facebook"></i>
      <span class="fLabel">connect with facebook</span>
    </a>
    <div id="cloudLine"></div>
  </div>
</div>

