
<%=stylesheet_link_tag 'home'%>
<style type="text/css">
  body{opacity:1;}
</style>


  <div class="popup">
    <ul>
      <li>
      Recent 
      <i class="icon-time"></i>
      </li>
      <li>
      Popular
      <i class="icon-heart"></i>
      </li>
    </ul>
    <span class="arrow"></span>
  </div>
