
<style type="text/css">
  /*reply list*/

.reply-list{
  width:90%;
  float:right;
  -webkit-transition:all 0.6s ease-in-out;
}
.reply-list-closed{
  height:0px;
  opacity:0;
  -webkit-transform:scale(0);
  -webkit-transition:all 0.2s ease-in-out;
}
.reply{
  padding:10px 0;
  width:100%;
}

.addReply{
width:70%;
padding:5px 10px 5px 10px;
height:50px;
resize:none;
background:rgba(57,120,172,0.1);
border:1px solid rgba(255, 255,255,0.1);
color:#ccc;
float:right;
}
.reply-list .cuser-wrap{
  margin-right:10px;
}

</style>



  <div class="reply-list reply-list-closed">
    <ul>
      <li class="reply">
      <div class="user-icon-wrap">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/260898_502288678_1624193401_q.jpg" alt="" class="user_icon img-circle" />
      </div>
      <div class="reply-body">
        <p class="user-name">Bill Ma</p>       
        <p class="body">nice job buddy!</p>
        <div class="comment-info">
          <span class="comment-time">5 minutes ago</span>
          <span class="comment-flag">
            <i class="icon-flag"></i> report
          </span>
        </div>
      </div>
      <div class="clear"></div>
      </li>
    </ul>
    <div class="cuser-wrap">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/260898_502288678_1624193401_q.jpg" alt="" class="img-rounded"/>
    </div>
    <textarea id="" name="" rows="10" class="addReply" cols="30"></textarea>
  </div>




        <span class="allCommentLink">
          See All Comments
          <i class="icon-chevron-down"></i>
        </span>
