
html{
  min-width:1000px;
}

body {
	background-color: #326696;
	margin: 0px;
	overflow: hidden;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	text-align:center;
  width:100%;
  height:100%; 
  -webkit-transition:all 4s ; 
  opacity:0;
 }
.b-img{
  opacity:1;
background:url('/img/Moons_wallpapers_378.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;

 }
a {
	color:#0078ff;
}
canvas{
  background:url('/img/Moons_wallpapers_378.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity:0.9;
  min-width:1000px;
}
#container{
  z-index:102;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  min-width:1200px;
  min-height:700px;
}
/*navigation and tools*/
#nav{
  position:fixed;
  z-index:102;
  width:100%;
  height:80px;
}
#nav .content{
  width:100%;
  height:100%;
  position:relative;}

#l_icon, .add_icon, .edit_icon, .exit_edit{
  position:absolute;
  width:40px;
  height:40px;
  color:white;
  background:#444;
  border-radius:50%;
  font-size:20px; 
  text-align:center;
  line-height:2.1em;
  -webkit-transition:
      all 0.2s ease-in-out;
}
.exit_edit{
  z-index:103;
  top:20px;
  right:20px;
  background:rgba(57,120,172,0.4) !important;
  opacity:0;
}
.exit_edit:hover{
  cursor:pointer;
  background:rgba(57,120,172,0.9) !important;
}
#l_icon{
  top:20px;
  left:20px;
}

.add_icon{
  z-index:103;
  top:20px;
  right:20px;
  opacity:0;
}
.edit_icon{
  z-index:103;
  top:20px;
  right:80px;
  opacity:0;
}

.icon_show{
  -webkit-transition: opacity 1.5s ease-in-out;
  opacity:1;
}

#l_icon:hover, .add_icon:hover, .edit_icon:hover{
  cursor:pointer;
  background-color:white;
  color:#222;
  -webkit-transition: all 0.2s ease-in-out;
}

.left{
  width:25%;
  height:100%;
  background:rgba(0,0,0,0.5);
  float:left;
  overflow:hidden;
  -webkit-transition: all 0.5s ease-in-out ;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  position:relative;
}
.left:before{
  content:'';
  display:block;
  position:relative;
  width:100%;
  height:80px;  
  box-shadow:0 2px -1px rgba(255,255,255,0.2);
  margin-bottom:3px;
}

.right{
  position:relative;
  width:75%;
  height:100%;
  float:right;
  -webkit-transition: all 0.5s ease-in-out;
}
.left_close{
  width:0%;
  -webkit-transition: all 0.5s ease-in-out;
}
.right_expand{
  -webkit-transition: all 0.5s ease-in-out;
  width:100%;
}

/*dream log*/
#dreamLog{
  position:relative;
  width:80%;
  height:70%;
  margin: auto;
  background-color:rgba(0,0,0,0.6);
  margin-top:140px;
  box-shadow: 
		0 0 0 15px rgba(255,255,255,0.2), 
    0 0 5px rgba(0,0,0,0.2),
    inset 0 0 50px rgba(0,0,0,0.1);
  -webkit-transition: 
    -webkit-transform 0.5s ease-in-out,
    opacity 0.1s ease-in-out;
  border-radius:10px;
  padding-top:40px;
} 

#dreamLog:before{
  content:'';
  position:relative;
  top:-20px;
  display:block;
  width:95%;
  height:30px;
  margin:0 auto;
  box-shadow:
    0 2px -1px rgba(255,255,255,0.1);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

#dreamLog-header{
  position:absolute;
  top:0;
  left:100px;
  width:85%;
  height:50px;
  line-height:2em;
}
.dreamLog_closeButton{
  position:absolute;
  top:10px;
  right:30px;
  font-size:20px;
  color:#aaa;
  padding:8px 10px 5px 10px;
  border-radius:50%;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  z-index:101;
}
.dreamLog_closeButton:hover{
  cursor:pointer;
  color:#ccc;
  box-shadow:
    0 0 5px rgba(0,0,0,0.2),
    inset 0 0 50px rgba(0,0,0,0.4);
}
.dreamLog_closeButton:active{
  box-shadow:
    0 0 5px rgba(255,255,255,0.2),
    inset 0 0 50px rgba(255,255,255,0.4);
  color:black;
}

.dreamLog_closed{
  -webkit-transform:scale(0);
}
.dream_content{
  position:relative;
  color:white;
  width:80%;
  max-width:800px;
  height:82%;
  margin:auto;
  overflow:auto;
  color:#BBB;
}
.dream_content{
  -webkit-transform:scale(0);
  opacity:0;
}
.comment-wrap{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  -webkit-transform:scale(0);
  opacity:0;
}

.showRead{
  -webkit-transition:all 0.4s linear;
  opacity:1;
  -webkit-transform:scale(1);
}
.showComments{
  -webkit-transition:all 0.4s linear;
  opacity:1;
  -webkit-transform:scale(1);
}



/*dream log tabs*/
#dreamLog-tabs{
  position:relative;
  height:50px; 
  width:85%;
  max-width:800px;
  margin:auto;
  top:-10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}


.switch-label {
  display:block;
  position: relative;
  z-index: 2;
  float: left;
  width:49.5%;
  line-height: 26px;
  font-size:20px;
  color:rgba(255,255,255,0.5);
  line-height:2.5em;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(56, 223, 255, 0.8);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 50%;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 100%;
  border-radius: 3px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  background:rgba(57,120,172,0.3);
}


/* dreamlog comments*/
.addComment-wrap{
  position:relative;
  height:60px;
  width:85%;
  max-width:870px;
  margin:auto;
  margin-top:120px;
  padding-bottom:10px;
  border-bottom:1px solid rgba(255, 255,255,0.1);
}
.cuser-wrap{
  width:10%;
  height:100%;
  float:right;
  text-align:left;
  padding-left:10px;
}
.cuser-wrap img{
  margin-top:5px;
  box-shadow:
    0 0 0 4px rgba(225,225,225,0.5);


}
#addComment{
width:80%;
padding:5px 10px 5px 10px;
height:50px;
resize:none;
background:rgba(57,120,172,0.1);
border:1px solid rgba(255, 255,255,0.1);
color:#ccc;
float:right;

}
.dreamLog-comments{
  position:relative;
  color:white;
  width:80%;
  max-width:800px;
  height:60%;
  margin:auto;
  overflow:auto;
  color:#BBB;
}
#comments-list{
  width:100%;
  height:100%;
} 

.comment{
  position:relative;
  width:100%;
  min-height:50px;
  margin-bottom:10px;
  padding:20px 0;
  text-align:left;
}
.user-icon-wrap{
  float:left;
  width:20%;
  text-align:center;
}
.user_icon{
  border:5px solid rgba(255,255,255,0.3);
}
.comment-content{
  position:relative;
  width:100%;
}
.comment-body, .reply-body{
  position:relative;
  display:block;
  float:left;
  width:80%;
  font-size:15px; 
  padding-bottom:20px;
}
.comment-body{
  border-bottom:1px dotted rgba(255,255,255,0.2);
}
.reply-body{
  border-bottom:1px dotted rgba(255,255,255,0.1);
}
.comment-body .user-name{
 color:#2698AD; 
}
.comment-info{
  font-size:14px;
}
.comment-flag{
  position:relative;
  color:#2698AD;
}
.comment-time{
  color:#999;
}
.allCommentLink{
  position:relative;
  color:#2698AD;
  float:right;
}
.allCommentLink .icon-chevron-down{
  -webkit-transition: -webkit-transform 0.4s linear;
}
.icon-up{
  -webkit-transition: -webkit-transform 0.4s linear;
  -webkit-transform:rotate(180deg);
}
.comment-flag:hover, .allCommentLink:hover{
  color:#eee;
  text-shadow:0 0 15px #2698AD;
  cursor:pointer;
  -webkit-transition: color 0.2s linear;
}
.comment-flag:active, .allCommentLink:active{
  top:2px;
}


  /*reply list*/

.reply-list{
  width:90%;
  float:right;
  -webkit-transition:all 0.6s ease-in-out;
}
.reply-list ul{
  margin-bottom:10px;
}
.reply-list-closed{
  height:0px;
  opacity:0;
  -webkit-transform:scale(0);
  -webkit-transition:all 0.2s ease-in-out;
}

.reply{
  padding:10px 0;
  width:100%;
}

.addReply{
width:70%;
padding:5px 10px 5px 10px;
height:50px;
resize:none;
background:rgba(57,120,172,0.1);
border:1px solid rgba(255, 255,255,0.1);
color:#ccc;
float:right;
}
.reply-list .cuser-wrap{
  margin-right:10px;
}


/**-----------*/

.dreamLog-title{
  font-size:30px;
  line-height:2em;
  text-transform:capitalize;
  margin-top:20px;
  margin-bottom:50px;

  
}
.dreamLog-body{
  font-size:17px;
  line-height:2em;
}

/*left tool bar*/
#left-toolBar{
  position:relative;
  width:100%;
  height:40px;
  color:white;
  overflow:hidden;
  border-bottom:1px solid rgba(255,255,255,0.2);
}
#left-toolBar:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  background:url('/img/real_cf.png');
  opacity:0.5;
  width:100%;
  height:100%;
  z-index:-1;
}
/* search */

#search-wrap{
  position:relative;
  width:70%;
  height:100%;
}
#search{
  position:absolute;
  padding-left:40px;
  color:white;
  top:4px;
  left:4px;
  height:70%;
  width:70%;
  background:rgba(0,0,0,0.5);
  border:0;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.5); 
  border-radius:5px;
}
.icon-search{
  position:absolute;
  top:12px;
  left:15px;

}
/* filter*/
#filter{
  position:absolute;
  top:0px;
  right:5px;
  height:100%;
  line-height:3em;
  color:#bbb;
  -webkit-transition: all 0.3s ease-in-out;
}
#filter .icon-angle-right{
  opacity:0;
}

#filter:hover{
  color:#fff;
  cursor:pointer;
}
#filter:hover  .icon-angle-right{
  opacity:1;
}
/*dream list*/

#dreamList{
  position:relative;
  width:100%;
  height:83.5%;
  overflow:hidden;
  margin:0;
  overflow:auto;
}


/* each dream */

.dream{
  position:relative;
  display:inline-block;
  width:100%;
  height:80px;
  box-shadow:
    0 0 5px rgba(0,0,0,0.2),
    inset 0 0 50px rgba(0,0,0,0.4);
  color:white;
  overflow:hidden;
}
.dream:active{
  background:rgba(57,120,172,0.8);
}
.dream:hover{
  background:rgba(57,120,172,0.4);
  cursor:pointer;
}
.dream_editMode:hover{
  background:rgba(232,44,12,0.2) !important;
}
.dreamActive{
  background:rgba(57,120,172,0.8);
}
.dreamActive_editMode{
  background:rgba(232,44,12,0.4) !important;
}
.showProfileImg{
 -webkit-transform:translateX(100px); 
}
.dreamDateFades{
  opacity:0;
}
.showDreamArrow{
  opacity:1 !important;
}
.dream:hover .dreamArrow{
  opacity:1;
}
.dream:hover .dreamTitle{
  color:white;
}
.profileImg-wrap{
  position:absolute;
  width:27%;
  height:98%;
  left:-100px;
  -webkit-transition: -webkit-transform 0.4s linear;
}

.profileImg{
  display:inline;
  margin-top:15px;
  box-shadow:
    0 0 0 4px rgba(225,225,225,0.5);
}
.delete_icon{
  position:absolute;
  top:10px;
  background:rgba(225,225,225,0.9);
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 5px rgba(255,255,255,0.5);
  color:#aaa;
  text-align:center;
  font-size:50px;
  padding:5px 0px 5px 0px;
  border-radius:50%;
  margin-left:-30px;
  -webkit-transition:all 0.2s linear;
}
.delete_icon:hover{
  color:rgba(232,44,12,0.6);
}

.dreamDate, .dreamInfo{
  float:left;

}
.dreamDate{
  width:28%;
  height:100%; 
  min-width:70px;
  -webkit-transition: all 0.3s ease-in-out;
}
.dreamDate-content{
  position:relative;
  width:100%;
  height:100%;
  background:none;
  box-shadow: 0 0 100px rgba(255,255,255,0.2);
}
.month_year{
 font-size:12px; 
 display:block; 
 background:rgba(57,120,172,0.5);
}
.date{
  font-size:20px;
  line-height:2.5em;
}
.dreamInfo{
  width:72%; 
  height:100%;
  text-align:left;
}
/*dream info*/

.dreamInfo >div{
  margin-left:15px;
}

.dreamTitle{
  font-size:15px;
  text-transform:capitalize;
  width:90%;
  margin-top:4px;
  color:#ccc;
  -webkit-transition:all 0.3s linear;

}

/*dream Arrow*/
.dreamArrow{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:20px;
  font-size:30px;
  -webkit-transition:all 0.3s linear;
  text-align:left;
  opacity:0;
}
.dreamArrow .icon-angle-right{
  position:relative;
  left:-7px;
  line-height:2.4em;
  margin:0;
}


/*popup*/
.popup {
  display:none;
	position:absolute;
  top:54px;
	width: 170px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 0;
	text-align: center;
	text-indent: 0px;
	color: #FFFFFF;
	text-shadow: #5B5B5B 0px -1px 0px;
	font: 14px/18px "Myriad Pro";
	margin: 20px;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  -webkit-transition:all 0.3s linear;
  z-index:101;
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
  border-right:1px solid rgba(255,255,255,0.2);
  border-left:1px dotted rgba(255,255,255,0.2);
  opacity:0;
}
.popup ul {
	list-style: none;
	margin: 0;
	padding: 4px 8px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.popup li:hover{
  cursor:pointer;
  background:rgba(57,120,172,0.3);
}
.popup li {
	border-bottom: solid 1px rgba(20,20,20,.4);
	border-top: solid 1px rgba(80,80,80,.4);
	padding: 2px 0 0;
	line-height: 1.6em;
}
.popup li:first-child {
	border-top: none;
	margin-top: 0;
}

.popup li:last-child {
	border-bottom: none;
	margin-bottom: 6px;
}

.arrow {
	overflow: hidden;
	position: absolute;
	display: block;
	width: 18px;
	height: 28px;
	top: 35%;
  margin-top: -18px;
	left: -18px;
}
.popup, .arrow:after {
	background: rgba(0,0,0,.3);
}
.arrow:after {
	content: "";
	position: absolute;
	width: 27px;
	height: 28px;
	-webkit-transform: rotate(45deg);
	-moz-transform:		rotate(45deg);
	-ms-transform:		 rotate(45deg);
	-o-transform:			rotate(45deg);
	left: 10px;
  z-index:103;
  border:1px solid rgba(255,255,255,0.2);
}

.popup_open{
  display:inline-block;
  opacity:1;
}


/*eachlist*/
.eachList{
  width:100%;
  height:120px;
  position:relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor:default;
  border-radius:100px;
  opacity:0.7;
  margin-bottom:50px;
}
.l_wrap, .l_info{
 	position: absolute;
	width:95.5%;
	height:80px;
	border-radius: 100px;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
  
}

.l_wrap{
 	top: 20px;
	left: 20px;
  background:#f9f9f9 url('/img/bg.jpg');
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}      
.l_info{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.l_info > div{
 	display: block;
	position: absolute;
	width: 105.1%;
	height: 100%;
	border-radius:100px;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.l_info .l_info_front {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
  	
  background:white;
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
}
.l_info .l_info_back {
	background: rgba(230,132,107,0);
}
.eachList:visited .l_info_front {
	-webkit-transform: rotate3d(1,0,0,-180deg);
	-moz-transform: rotate3d(1,0,0,-180deg);
	-o-transform: rotate3d(1,0,0,-180deg);
	-ms-transform: rotate3d(1,0,0,-180deg);
	transform: rotate3d(1,0,0,-180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}
.eachList:visited .l_info_back {
	background: rgba(230,132,107,0.6);
}
