<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/fontAwesome/css/font-awesome.css" />
  <title>DreamLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="https://raw.github.com/wycats/handlebars.js/1.0.rc.2/dist/handlebars.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
